#header{
  font-family: monospace;
  font-size: 40px;
  color:#31a354;
  padding: 0;
  margin: 0;
}
#subheader{
  font-family: sans-serif;
  font-size: 1em;

}

#p{
  font-size: .7em;
  float:left;
  position:absolute;
  text-align: justify;
  top:460px;
  right:760px;
  left: 12px
}

.map{
    float: left;
    border: solid silver;
    margin: 1px 0 1 6px;
}

.chart {
    background-color: white;
    border: medium solid grey;
    float: right;
    margin: 7px 20px 1 6px;

}
.selectCountries {
  fill: orange;
  stroke: white;
  stroke-width: 0.75px;
  stroke-linecap: round;
}

.gratLines {
  fill: none;
  stroke: white;
  stroke-width: 0.5px;
}

.gratBackground{
  fill: silver;
}

.chartTitle{
    font-family:monospace;;
    font-size: 1.2em;
    font-weight: bold;
}

.chartBackground{
  fill: silver
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: monospace;
    font-weight: bold;
    font-size: .7em;
    fill: black;
}
